@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #060e3a, #000000);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#calculator {
    font-family: "Fira Sans Condensed", serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    font-family: "Fira Sans Condensed", serif;
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#hidden {
    visibility: hidden;
}

button {
    font-family: "Fira Sans Condensed", serif;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

#clear-btn {
    background-color: hsl(0, 100%, 30%);
    width: 422%
}

#clear-btn:hover {
    background-color: hsl(0, 100%, 40%);
}

#clear-btn:active {
    background-color: hsl(0, 100%, 50%);
}

.operator-btn {
    background-color: hsl(184, 100%, 30%)
}

.operator-btn:hover {
    background-color: hsl(184, 100%, 40%)
}

.operator-btn:active {
    background-color: hsl(184, 100%, 50%)
}